<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'MENUFORM.menu' | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/news">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            <ion-label>{{ 'MENUFORM.label_news' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/events">
            <ion-icon name="apps-outline" slot="start"></ion-icon>
            <ion-label>{{ 'MENUFORM.label_events' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/services">
            <ion-icon name="server-outline" slot="start"></ion-icon>
            <ion-label>{{ 'MENUFORM.label_services' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/helpfulinfo">
            <ion-icon name="information-outline" slot="start"></ion-icon>
            <ion-label>{{ 'MENUFORM.label_records' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/suggestnewsorevent">
            <ion-icon name="logo-apple-ar" slot="start"></ion-icon>
            <ion-label>{{ 'MENUFORM.label_suggest' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/infousers">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>{{ 'MENUFORM.label_userInfo' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/settings">
            <ion-icon name="cog-outline" slot="start"></ion-icon>
            <ion-label>{{ 'MENUFORM.label_settings' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/output">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            <ion-label>{{ 'MENUFORM.label_exit' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
