<div class="form-froup row">
  <form [formGroup]="form">
    <label class="col-sm-2 col-form-label">Event title</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        placeholder="Enter event title"
        [ngClass]="
          (form.get('eventTitle').touched || form.get('eventTitle').dirty) &&
          form.get('eventTitle').hasError('required')
            ? 'is-invalid'
            : '' || form.get('eventTitle').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('eventTitle').hasError('maxlength')
            ? 'is-invalid'
            : '' || form.get('eventTitle').hasError('pattern')
            ? 'is-invalid'
            : '' ||
              ((form.get('eventTitle').touched ||
                form.get('eventTitle').dirty) &&
                !form.get('eventTitle').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="eventTitle"
      />
      <div class="invalid-feedback">
        {{
          form.get("eventTitle").hasError("required")
            ? " Event title is required."
            : ""
        }}
        {{
          form.get("eventTitle").hasError("minlength")
            ? " 5 letters required."
            : ""
        }}
        {{
          form.get("eventTitle").hasError("maxlength")
            ? " 40 letters required."
            : ""
        }}
        {{ form.get("eventTitle").hasError("pattern") ? " One letters." : "" }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label"
      >Description&nbsp;of&nbsp;the&nbsp;event</label
    >
    <div class="col-sm-10">
      <textarea
        type=""
        class="form-control"
        style="height: 100px"
        placeholder="Enter description of the event"
        [ngClass]="
          (form.get('descriptionOfTheEvent').touched ||
            form.get('descriptionOfTheEvent').dirty) &&
          form.get('descriptionOfTheEvent').hasError('required')
            ? 'is-invalid'
            : '' || form.get('descriptionOfTheEvent').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('descriptionOfTheEvent').hasError('maxlength')
            ? 'is-invalid'
            : '' ||
              ((form.get('descriptionOfTheEvent').touched ||
                form.get('descriptionOfTheEvent').dirty) &&
                !form.get('descriptionOfTheEvent').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="descriptionOfTheEvent"
      >
      </textarea>
      <div class="invalid-feedback">
        {{
          form.get("descriptionOfTheEvent").hasError("required")
            ? " Description of the event is required."
            : ""
        }}
        {{
          form.get("descriptionOfTheEvent").hasError("minlength")
            ? " 20 letters required."
            : ""
        }}
        {{
          form.get("descriptionOfTheEvent").hasError("maxlength")
            ? " 150 letters required."
            : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label">Date event</label>
    <div class="col-sm-10">
      <input
        type="datetime-local"
        class="form-control"
        [ngClass]="
          (form.get('plannedStartDate').touched ||
            form.get('plannedStartDate').dirty) &&
          form.get('plannedStartDate').hasError('required')
            ? 'is-invalid'
            : '' ||
              ((form.get('plannedStartDate').touched ||
                form.get('plannedStartDate').dirty) &&
                !form.get('plannedStartDate').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="plannedStartDate"
      />
      <div class="invalid-feedback">
        {{
          form.get("plannedStartDate").hasError("required")
            ? " Data is required."
            : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label" [hidden]="true">Image event</label>
    <div class="col-sm-10" style="margin-top: 20px;">
      Image event: 
      <input
        type="file"
        (change)="handleFileSelect($event)"
        accept=".png, .jpg, .jpeg"
      />
    </div>
    <div class="col-sm-10">
      <img
        [src]="this.form.value.imageEvents"
        alt=""
        style="
          margin-top: 20px;
          width: 480px;
          height: 240px;
        "
      />
    </div>
    <div class="col-sm-10" [hidden]="true">
      <input
        type="text"
        class="form-control"
        placeholder="Enter image event"
        [ngClass]="
          (form.get('imageEvents').touched || form.get('imageEvents').dirty) &&
          form.get('imageEvents').hasError('required')
            ? 'is-invalid'
            : '' ||
              ((form.get('imageEvents').touched ||
                form.get('imageEvents').dirty) &&
                !form.get('imageEvents').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="imageEvents"
      />
      <div class="invalid-feedback">
        {{
          form.get("imageEvents").hasError("required")
            ? " Image is required."
            : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label">Is considered</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        placeholder="Enter is considered"
        [ngClass]="
          (form.get('isConsidered').touched ||
            form.get('isConsidered').dirty) &&
          form.get('isConsidered').hasError('required')
            ? 'is-invalid'
            : '' || form.get('isConsidered').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('isConsidered').hasError('maxlength')
            ? 'is-invalid'
            : '' || form.get('isConsidered').hasError('pattern')
            ? 'is-invalid'
            : '' ||
              ((form.get('isConsidered').touched ||
                form.get('isConsidered').dirty) &&
                !form.get('isConsidered').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="isConsidered"
      />
      <div class="invalid-feedback">
        {{
          form.get("isConsidered").hasError("required")
            ? " Is considered is required."
            : ""
        }}
        {{
          form.get("isConsidered").hasError("minlength")
            ? " 4 letters required."
            : ""
        }}
        {{
          form.get("isConsidered").hasError("maxlength")
            ? " 5 letters required."
            : ""
        }}
        {{
          form.get("isConsidered").hasError("pattern") ? " One letters." : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label">User Id</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        placeholder="Enter user Id"
        [ngClass]="
          (form.get('usersId').touched || form.get('usersId').dirty) &&
          form.get('usersId').hasError('required')
            ? 'is-invalid'
            : '' || form.get('usersId').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('usersId').hasError('maxlength')
            ? 'is-invalid'
            : '' || form.get('usersId').hasError('pattern')
            ? 'is-invalid'
            : '' ||
              ((form.get('usersId').touched || form.get('usersId').dirty) &&
                !form.get('usersId').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="usersId"
      />
      <div class="invalid-feedback">
        {{
          form.get("usersId").hasError("required") ? " Guid is required." : ""
        }}
        {{
          form.get("usersId").hasError("minlength")
            ? " 36 letters required."
            : ""
        }}
        {{
          form.get("usersId").hasError("maxlength")
            ? " 36 letters required."
            : ""
        }}
        {{ form.get("usersId").hasError("pattern") ? " Guid type." : "" }}
      </div>
    </div>
    <div class="col-sm-10">
      <button
        style="margin-top: 20px"
        [disabled]="form.invalid"
        (click)="addEvent()"
        *ngIf="event.guidEventsId == 0"
        class="btn btn-primary"
      >
        Add
      </button>

      <button
        style="margin-top: 20px"
        [disabled]="form.invalid"
        (click)="updateEvent()"
        *ngIf="event.guidEventsId != 0"
        class="btn btn-primary"
      >
        Update
      </button>
    </div>
  </form>
</div>
