<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div
    class="bg-dark border-dark"
    id="sidebar-wrapper"
    [ngClass]="status ? 'hide' : 'show'"
  >
    <div class="sidebar-heading text-white">
      <img
        type="image/svg+xml"
        src="../../assets/image/loga-sidebar.svg"
        alt=""
      />
    </div>
    <div class="list-group list-group-flush">
      <a
        [routerLink]="['/user']"
        class="list-group-item list-group-item-action bg-dark text-white"
        >Users</a
      >
      <a
        [routerLink]="['/service']"
        class="list-group-item list-group-item-action bg-dark text-white"
        >Services</a
      >
      <a
        [routerLink]="['/listservice']"
        class="list-group-item list-group-item-action bg-dark text-white"
        >List Service</a
      >
      <a
        [routerLink]="['/consultationrequest']"
        class="list-group-item list-group-item-action bg-dark text-white"
        >Consultation Request</a
      >
      <a
        [routerLink]="['/news']"
        class="list-group-item list-group-item-action bg-dark text-white"
        >News</a
      >
      <a
        [routerLink]="['/event']"
        class="list-group-item list-group-item-action bg-dark text-white"
        >Event</a
      >
      <a
        role="button"
        (click)="logout()"
        class="list-group-item list-group-item-action bg-dark text-white"
        >Exit</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="btn btn-primary" (click)="clickEvent()">Menu</button>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
