<div class="form-froup row">
  <form [formGroup]="form">
    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        placeholder="Enter name"
        [ngClass]="
          (form.get('name').touched || form.get('name').dirty) &&
          form.get('name').hasError('required')
            ? 'is-invalid'
            : '' || form.get('name').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('name').hasError('maxlength')
            ? 'is-invalid'
            : '' || form.get('name').hasError('pattern')
            ? 'is-invalid'
            : '' ||
              ((form.get('name').touched || form.get('name').dirty) &&
                !form.get('name').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="name"
      />
      <div class="invalid-feedback">
        {{ form.get("name").hasError("required") ? " Name is required." : "" }}
        {{
          form.get("name").hasError("minlength") ? " 5 letters required." : ""
        }}
        {{
          form.get("name").hasError("maxlength") ? " 20 letters required." : ""
        }}
        {{
          form.get("name").hasError("pattern") ? " One letters." : ""
        }}
      </div>
      <button
        style="margin-top: 20px"
        [disabled]="form.invalid"
        (click)="addService()"
        *ngIf="service.guidServicesId == 0"
        class="btn btn-primary"
      >
        Add
      </button>
      <button
        style="margin-top: 20px"
        [disabled]="form.invalid"
        (click)="updateService()"
        *ngIf="service.guidServicesId != 0"
        class="btn btn-primary"
      >
        Update
      </button>
    </div>
  </form>
</div>
