<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'MOREDETAILSINFORM.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/helpfulinfo"  [text]="('BUTTONTEXT.backbutton' | translate)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="moreInfs == 0">
    <ion-text>
      <p>
        <b>Шаг 1. Формируем пакет документов </b>
      </p>
      <p>
        Если вы совершеннолетний гражданин Российской Федерации, для регистрации
        вам потребуются следующие документы:
      </p>
      <ul>
        <li>
          заявление о государственной регистрации физического лица в качестве
          индивидуального предпринимателя (форма № Р21001);
        </li>
        <li>копия российского паспорта;</li>
        <li>
          квитанция об уплате госпошлины в размере 800 руб. Сформировать
          квитанцию на уплату госпошлины можно с помощью сервиса «Уплата
          госпошлины».
        </li>
      </ul>
      <p>
        <b>Шаг 2. Определяем, в какой налоговый орган подать документы</b>
      </p>
      <p>
        Государственная регистрация физического лица в качестве индивидуального
        предпринимателя осуществляется в специально уполномоченном на
        регистрацию предпринимателей налоговом органе по месту его жительства,
        то есть по месту регистрации, указанному в паспорте.
      </p>
      <p>
        В случае, если в паспорте отсутствует место регистрации, то
        государственная регистрация индивидуального предпринимателя может быть
        осуществлена в специально уполномоченном на регистрацию предпринимателей
        налоговом органе по месту пребывания.
      </p>
      <p>
        <b>Шаг 3. Представляем документы</b>
      </p>
      <p>
        Документы могут быть переданы в налоговую инспекцию любым удобным для
        вас способом:
      </p>
      <ion-segment (ionChange)="segmentChanged($event)" value="list1">
        <ion-segment-button value="list1">
          <ion-label> Лично </ion-label>
        </ion-segment-button>
        <ion-segment-button value="list2">
          <ion-label> Удаленно </ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list *ngIf="segment === 'list1'">
        <form>
          <ul>
            <li>
              непосредственно в инспекцию - лично или через представителя по
              доверенности.
            </li>
            <li>
              в многофункциональный центр - лично или через представителя по
              доверенности. Информацию об оказании данной услуги в Вашем МФЦ
              необходимо уточнить на сайте МФЦ.
            </li>
          </ul>
        </form>
      </ion-list>

      <ion-list *ngIf="segment === 'list2'">
        <form>
          <ul>
            <li>
              по почте с объявленной ценностью и описью вложения;
              <br />В пределах территории Москвы документы можно направить и
              получить также через DHL Express и Pony Express.
            </li>
            <li>в электронном виде.</li>
          </ul>
        </form>
      </ion-list>
      <p>
        <b>Шаг 4. Представляем документы</b>
      </p>
      <p>
        Если все документы в порядке, через 3 рабочих дня в налоговой инспекции
        вы можете получить:
      </p>
      <ul>
        <li>лист записи ЕГРИП.</li>
      </ul>
    </ion-text>
  </div>
  <div *ngIf="moreInfs == 1">
    <ion-text>
      <p><b>Формируем пакет документов</b></p>
      <p>Вам потребуются следующие документы:</p>
      <ul>
        <li>
          заявление о государственной регистрации прекращения физическим лицом
          деятельности в качестве индивидуального предпринимателя в связи с
          принятием им решения о прекращении данной деятельности (форма №
          Р26001)
        </li>
        <li>квитанция об уплате госпошлины в размере 160 руб.</li>
        <li>
          документ, подтверждающий представление сведений в территориальный
          орган Пенсионного фонда.
        </li>
      </ul>
      <p>
        Перечень сведений, представляемых в территориальный орган Пенсионного
        фонда, определен подп. 1–8 п. 2 ст. 6 и п. 2 ст. 11 Федерального закона
        от 01.04.1996 № 27-ФЗ «Об индивидуальном (персонифицированном) учете в
        системе обязательного пенсионного страхования», а также ч. 4 ст. 9
        Федерального закона от 30.04.2008 № 56-ФЗ «О дополнительных страховых
        взносах на накопительную часть трудовой пенсии и государственной
        поддержке формирования пенсионных накоплений».
      </p>
      <p>
        <b>Представляем документы</b>
      </p>
      <p>
        Документы могут быть переданы в налоговую инспекцию любым удобным для
        вас способом:
      </p>
      <ion-segment (ionChange)="segmentChanged($event)" value="list1">
        <ion-segment-button value="list1">
          <ion-label> Лично </ion-label>
        </ion-segment-button>
        <ion-segment-button value="list2">
          <ion-label> Удаленно </ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list *ngIf="segment === 'list1'">
        <form>
          <ul>
            <li>
              непосредственно в инспекцию - лично или через представителя по
              доверенности.
            </li>
            <li>
              в многофункциональный центр - лично или через представителя по
              доверенности. Информацию об оказании данной услуги в Вашем МФЦ
              необходимо уточнить на сайте МФЦ.
            </li>
          </ul>
        </form>
      </ion-list>

      <ion-list *ngIf="segment === 'list2'">
        <form>
          <ul>
            <li>
              по почте с объявленной ценностью и описью вложения;
              <br />В пределах территории Москвы документы можно направить и
              получить также через DHL Express и Pony Express.
            </li>
            <li>в электронном виде.</li>
          </ul>
        </form>
      </ion-list>
      <p><b>Получаем документы</b></p>
      <p>
        На 6-й рабочий день после подачи документов заявитель лично или через
        представителя по нотариально удостоверенной доверенности может получить:
      </p>
      <ul>
        <li>лист записи ЕГРИП</li>
      </ul>
      <p>
        Перечень оснований для отказа в государственной регистрации определен п.
        1 ст. 23 Федерального закона от 08.08.2001 № 129-ФЗ «О государственной
        регистрации юридических лиц и индивидуальных предпринимателей».
      </p>
      <p>
        Документ могут направить в ваш адрес и по почте. В пределах территории
        Москвы документ можно получить также через DHL Express и Pony Express.
      </p>
    </ion-text>
  </div>
  <div *ngIf="moreInfs == 2">
    <ion-text>
      <p>
        Если Вы сменили фамилию, регистрацию по месту жительства в РФ, паспорт
        гражданина РФ, то сообщать об этом в налоговую инспекцию не нужно.
        Органы Федеральной миграционной службы сами передадут изменения в
        налоговый орган, который внесет необходимые данные в Единый
        государственный реестр индивидуальных предпринимателей, в котором
        содержатся сведения о Вас как об индивидуальном предпринимателе. Если же
        необходимо поменять другие данные в реестре, например, Вы перестали
        заниматься одним видом экономической деятельности и начали заниматься
        другим, то об этом нужно сообщить в налоговую инспекцию.
      </p>
      <p><b>Шаг 1. Формируем пакет документов</b></p>
      <p>Для внесения изменений потребуются следующие документы:</p>
      <ul>
        <li>
          заявление о внесении изменений в сведения об индивидуальном
          предпринимателе, содержащиеся в Едином государственном реестре
          индивидуальных предпринимателей, по форме № Р24001 (Утверждающие
          документы: приказ ФНС России от 31.08.2020 № ЕД-7-14/617@);
        </li>
        <li>копии документов, на основании которых будут внесены изменения.</li>
      </ul>
      <p>
        <b>Шаг 2. Представляем документы</b>
      </p>
      <p>
        Документы могут быть переданы в налоговую инспекцию любым удобным для
        вас способом:
      </p>
      <ion-segment (ionChange)="segmentChanged($event)" value="list1">
        <ion-segment-button value="list1">
          <ion-label> Лично </ion-label>
        </ion-segment-button>
        <ion-segment-button value="list2">
          <ion-label> Удаленно </ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list *ngIf="segment === 'list1'">
        <form>
          <ul>
            <li>
              непосредственно в инспекцию - лично или через представителя по
              доверенности.
            </li>
            <li>
              в многофункциональный центр - лично или через представителя по
              доверенности. Информацию об оказании данной услуги в Вашем МФЦ
              необходимо уточнить на сайте МФЦ.
            </li>
          </ul>
        </form>
      </ion-list>

      <ion-list *ngIf="segment === 'list2'">
        <form>
          <ul>
            <li>
              по почте с объявленной ценностью и описью вложения;
              <br />В пределах территории Москвы документы можно направить и
              получить также через DHL Express и Pony Express.
            </li>
            <li>в электронном виде.</li>
          </ul>
        </form>
      </ion-list>
      <p><b>Шаг 3. Получаем документы</b></p>
      <p>
        Если документы в порядке, то через 5 рабочих дней в инспекции лично или
        через представителя по нотариально удостоверенной доверенности можно
        получить:
      </p>
      <ul>
        <li>лист записи ЕГРИП</li>
      </ul>
      <p>
        Документ могут направить в ваш адрес и по почте. В пределах территории
        Москвы документ можно получить также через DHL Express и Pony Express.
      </p>
    </ion-text>
  </div>
</ion-content>
