<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'LOGINFORM.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo">
    <ion-img
      src="https://cdn.worldvectorlogo.com/logos/world-of-warcraft.svg"
      style="box-sizing: border-box; width: 100%; padding: 1px"
    ></ion-img>
  </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="form">
      <ion-item>
        <ion-label position="floating"
          >{{ 'LOGINFORM.email' | translate}}</ion-label
        >
        <ion-input type="text" required formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ 'LOGINFORM.password' | translate}}</ion-label
        >
        <ion-input
          type="password"
          required
          formControlName="password"
        ></ion-input>
      </ion-item>
      <ion-button
        type="submit"
        class="ion-margin-top"
        expand="block"
        [disabled]="form.invalid"
        >{{ 'LOGINFORM.btn_login' | translate}}</ion-button
      >
    </div>
  </form>
  <ion-button routerLink="/register" expand="block" fill="clear"
    >{{ 'LOGINFORM.btn_registration' | translate}}</ion-button
  >
</ion-content>
