<ion-header>
  <ion-toolbar>
    <ion-title> AutoForm </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="logo">
    <ion-img
      src="https://cdn.worldvectorlogo.com/logos/world-of-warcraft.svg"
      style="box-sizing: border-box; width: 100%; padding: 1px"
    ></ion-img>
  </div>
  <div class="form">
    <ion-button routerLink="/register" expand="block"> Register </ion-button>
    <ion-button routerLink="/login" expand="block"> Login </ion-button>
    <ion-button routerLink="/create" expand="block"> Create </ion-button>
  </div>
</ion-content>
