<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'INFOUSERFORM.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)" value="list1">
    <ion-segment-button value="list1">
      <ion-label> {{ 'INFOUSERFORM.PERSONAL.label' | translate}} </ion-label>
    </ion-segment-button>
    <ion-segment-button value="list2">
      <ion-label> {{ 'INFOUSERFORM.PASSWORD.label' | translate}} </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segment === 'list1'">
    <form [formGroup]="form" (submit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">{{ 'INFOUSERFORM.PERSONAL.FIO' | translate}}</ion-label>
        <ion-input
          type="text"
          required
          formControlName="fullName"
          value="[data.fullName]"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'INFOUSERFORM.PERSONAL.email' | translate}}</ion-label>
        <ion-input
          type="text"
          required
          formControlName="email"
          value="[data.email]"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ 'INFOUSERFORM.PERSONAL.telephone' | translate}}</ion-label
        >
        <ion-input
          type="text"
          required
          formControlName="telephone"
          value="[data.telephone]"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ 'INFOUSERFORM.PERSONAL.position' | translate}}</ion-label
        >
        <ion-input
          type="text"
          required
          formControlName="position"
          value="[data.position]"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ 'INFOUSERFORM.PERSONAL.typeOfEnterprise' | translate}}</ion-label
        >
        <ion-input
          type="text"
          required
          formControlName="typeOfEnterprise"
          value="[data.typeOfEnterprise]"
        ></ion-input>
      </ion-item>
      <ion-button
        type="submit"
        class="ion-margin-top"
        expand="block"
        [disabled]="form.invalid"
      >
      {{ 'INFOUSERFORM.PERSONAL.btn_updateInfoUser' | translate}}
      </ion-button>
    </form>
  </ion-list>

  <ion-list *ngIf="segment === 'list2'">
    <form [formGroup]="form1" (submit)="onSubmit1()">
      <ion-item>
        <ion-label position="floating"
          >{{ 'INFOUSERFORM.PASSWORD.label_password' | translate}}</ion-label
        >
        <ion-input
          type="password"
          required
          formControlName="password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >{{ 'INFOUSERFORM.PASSWORD.label_confirmPassword' | translate}}</ion-label
        >
        <ion-input
          type="password"
          required
          formControlName="confirmPassword"
          autocapitalize="off"
        ></ion-input>
      </ion-item>
      <ion-button
        type="submit"
        class="ion-margin-top"
        expand="block"
        [disabled]="form1.invalid"
      >
      {{ 'INFOUSERFORM.PASSWORD.btn_updatePassword' | translate}}
      </ion-button>
    </form>
  </ion-list>
</ion-content>
