<ion-header>
  <ion-toolbar>
    <ion-title>Suggest</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)" value="list1">
    <ion-segment-button value="list1">
      <ion-label>
        News
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="list2">
      <ion-label>
        Event
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-list *ngIf="segment === 'list1'">
    <form [formGroup]="form" (submit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">News Title</ion-label>
        <ion-input type="text" required formControlName="newTitle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Data News</ion-label>
        <ion-datetime type="datetime-local" required formControlName="dataNew"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >News Description</ion-label>
        <ion-textarea rows="6" cols="20" placeholder="Enter event description..." formControlName="newDescription"></ion-textarea>
      </ion-item>
      <ion-button type="submit" class="ion-margin-top" expand="block" [disabled]="form.invalid">
        Suggest news
      </ion-button>
    </form>
  </ion-list>
  
  <ion-list *ngIf="segment === 'list2'">
    <form [formGroup]="form1" (submit)="onSubmit1()">
      <ion-item>
        <ion-label position="floating">Event Title</ion-label>
        <ion-input type="text" required formControlName="eventTitle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Planned Start Date</ion-label>
        <ion-datetime type="datetime-local" required formControlName="plannedStartDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Description Of the event</ion-label>
        <ion-textarea rows="6" cols="20" placeholder="Enter event description..." formControlName="descriptionOfTheEvent"></ion-textarea>
      </ion-item>
      <ion-button type="submit" class="ion-margin-top" expand="block" [disabled]="form1.invalid">
        Suggest an event
      </ion-button>
    </form>
  </ion-list>
</ion-content>
