<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SUGGESTNEWSOREVENTFORM.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)" value="list1">
    <ion-segment-button value="list1">
      <ion-label>
        {{ 'SUGGESTNEWSOREVENTFORM.NEWS.segmentTitleLabel' | translate}}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="list2">
      <ion-label>
        {{ 'SUGGESTNEWSOREVENTFORM.EVENT.segmentTitleLabel' | translate}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segment === 'list1'">
    <form [formGroup]="form" (submit)="onSubmit()">
      <ion-item>
        <ion-label position="floating"
          >{{ 'SUGGESTNEWSOREVENTFORM.NEWS.labelTitle' | translate}}</ion-label
        >
        <ion-input
          type="text"
          required
          formControlName="newTitle"
          [placeholder]="'SUGGESTNEWSOREVENTFORM.NEWS.labelTitlePlaceholder' | translate"
        ></ion-input>
      </ion-item>
      <div class="messageError">
        <div
          *ngIf="
        (form.get('newTitle').touched || form.get('newTitle').dirty) &&
        form.get('newTitle').hasError('required')
          ? 'is-invalid'
          : '' || form.get('newTitle').hasError('minlength')
          ? 'is-invalid'
          : '' || form.get('newTitle').hasError('maxlength')
          ? 'is-invalid'
          : '' ||
            ((form.get('newTitle').touched || form.get('newTitle').dirty) &&
              !form.get('newTitle').invalid)
          ? 'is-valid'
          : ''
      "
        >
          {{ form.get("newTitle").hasError("required") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.title.titleIsNULL' | translate)
          : "" }} {{ form.get("newTitle").hasError("minlength") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.title.titleIsMinLenght' |
          translate) : "" }} {{ form.get("newTitle").hasError("maxlength") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.title.titleIsMaxLenght' |
          translate) : "" }}
        </div>
      </div>
      <ion-item>
        <ion-label position="floating"
          >{{ 'SUGGESTNEWSOREVENTFORM.NEWS.labelData' | translate}}</ion-label
        >
        <ion-datetime
          type="datetime-local"
          required
          formControlName="dataNew"
        ></ion-datetime>
      </ion-item>
      <div class="messageError">
        <div
          *ngIf="
        (form.get('dataNew').touched || form.get('dataNew').dirty) &&
        form.get('dataNew').hasError('required')
          ? 'is-invalid'
          : '' ||
            ((form.get('dataNew').touched || form.get('dataNew').dirty) &&
              !form.get('dataNew').invalid)
          ? 'is-valid'
          : ''
      "
        >
          {{ form.get("dataNew").hasError("required") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.date' | translate) : "" }}
        </div>
      </div>
      <ion-item>
        <ion-label position="floating"
          >{{ 'SUGGESTNEWSOREVENTFORM.NEWS.labelDescription' |
          translate}}</ion-label
        >
        <ion-textarea
          rows="6"
          cols="20"
          [placeholder]="'SUGGESTNEWSOREVENTFORM.NEWS.labelDescriptionPlaceholder' | translate"
          formControlName="newDescription"
        ></ion-textarea>
      </ion-item>
      <div class="messageError">
        <div
          *ngIf="
        (form.get('newDescription').touched ||
          form.get('newDescription').dirty) &&
        form.get('newDescription').hasError('required')
          ? 'is-invalid'
          : '' || form.get('newDescription').hasError('minlength')
          ? 'is-invalid'
          : '' || form.get('newDescription').hasError('maxlength')
          ? 'is-invalid'
          : '' ||
            ((form.get('newDescription').touched ||
              form.get('newDescription').dirty) &&
              !form.get('newDescription').invalid)
          ? 'is-valid'
          : ''
      "
        >
          {{ form.get("newDescription").hasError("required") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.description.descriptionIsNULL' |
          translate) : "" }} {{ form.get("newDescription").hasError("minlength")
          ?
          ('SUGGESTNEWSOREVENTFORM.messageError.description.descriptionIsMinLenght'
          | translate) : "" }} {{
          form.get("newDescription").hasError("maxlength") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.description.descriptionIsMaxLenght'
          | translate) : "" }}
        </div>
      </div>
      <ion-button
        type="submit"
        class="ion-margin-top"
        expand="block"
        [disabled]="form.invalid"
      >
        {{ 'SUGGESTNEWSOREVENTFORM.NEWS.btn_suggest' | translate}}
      </ion-button>
    </form>
  </ion-list>

  <ion-list *ngIf="segment === 'list2'">
    <form [formGroup]="form1" (submit)="onSubmit1()">
      <ion-item>
        <ion-label position="floating"
          >{{ 'SUGGESTNEWSOREVENTFORM.EVENT.labelTitle' | translate}}</ion-label
        >
        <ion-input
          type="text"
          required
          formControlName="eventTitle"
          [placeholder]="'SUGGESTNEWSOREVENTFORM.EVENT.labelTitlePlaceholder' | translate"
        ></ion-input>
      </ion-item>
      <div class="messageError">
        <div
          *ngIf="
        (form1.get('eventTitle').touched || form1.get('eventTitle').dirty) &&
        form1.get('eventTitle').hasError('required')
          ? 'is-invalid'
          : '' || form1.get('eventTitle').hasError('minlength')
          ? 'is-invalid'
          : '' || form1.get('eventTitle').hasError('maxlength')
          ? 'is-invalid'
          : '' ||
            ((form1.get('eventTitle').touched ||
              form1.get('eventTitle').dirty) &&
              !form1.get('eventTitle').invalid)
          ? 'is-valid'
          : ''
      "
        >
          {{ form1.get("eventTitle").hasError("required") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.title.titleIsNULL' | translate)
          : "" }} {{ form1.get("eventTitle").hasError("minlength") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.title.titleIsMinLenght' |
          translate) : "" }} {{ form1.get("eventTitle").hasError("maxlength") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.title.titleIsMaxLenght' |
          translate) : "" }}
        </div>
      </div>
      <ion-item>
        <ion-label position="floating"
          >{{ 'SUGGESTNEWSOREVENTFORM.EVENT.labelData' | translate}}</ion-label
        >
        <ion-datetime
          type="datetime-local"
          required
          formControlName="plannedStartDate"
        ></ion-datetime>
      </ion-item>
      <div class="messageError">
        <div
          *ngIf="
        (form1.get('plannedStartDate').touched ||
          form1.get('plannedStartDate').dirty) &&
        form1.get('plannedStartDate').hasError('required')
          ? 'is-invalid'
          : '' ||
            ((form1.get('plannedStartDate').touched ||
              form1.get('plannedStartDate').dirty) &&
              !form1.get('plannedStartDate').invalid)
          ? 'is-valid'
          : ''
      "
        >
          {{ form1.get("plannedStartDate").hasError("required") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.date' | translate) : "" }}
        </div>
      </div>
      <ion-item>
        <ion-label position="floating"
          >{{ 'SUGGESTNEWSOREVENTFORM.EVENT.labelDescription' |
          translate}}</ion-label
        >
        <ion-textarea
          rows="6"
          cols="20"
          [placeholder]="'SUGGESTNEWSOREVENTFORM.EVENT.labelDescriptionPlaceholder' | translate"
          formControlName="descriptionOfTheEvent"
        ></ion-textarea>
      </ion-item>
      <div class="messageError">
        <div
          *ngIf="
        (form1.get('descriptionOfTheEvent').touched ||
          form1.get('descriptionOfTheEvent').dirty) &&
        form1.get('descriptionOfTheEvent').hasError('required')
          ? 'is-invalid'
          : '' || form1.get('descriptionOfTheEvent').hasError('minlength')
          ? 'is-invalid'
          : '' || form1.get('descriptionOfTheEvent').hasError('maxlength')
          ? 'is-invalid'
          : '' ||
            ((form1.get('descriptionOfTheEvent').touched ||
              form1.get('descriptionOfTheEvent').dirty) &&
              !form1.get('descriptionOfTheEvent').invalid)
          ? 'is-valid'
          : ''
      "
        >
          {{ form1.get("descriptionOfTheEvent").hasError("required") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.description.descriptionIsNULL' |
          translate) : "" }} {{
          form1.get("descriptionOfTheEvent").hasError("minlength") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.description.descriptionIsMinLenght'
          | translate) : "" }} {{
          form1.get("descriptionOfTheEvent").hasError("maxlength") ?
          ('SUGGESTNEWSOREVENTFORM.messageError.description.descriptionIsMaxLenght'
          | translate) : "" }}
        </div>
      </div>
      <ion-button
        type="submit"
        class="ion-margin-top"
        expand="block"
        [disabled]="form1.invalid"
      >
        {{ 'SUGGESTNEWSOREVENTFORM.EVENT.btn_suggest' | translate}}
      </ion-button>
    </form>
  </ion-list>
</ion-content>
