<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="moon-outline"></ion-icon>
          <ion-label>Toggle Colo Theme</ion-label>
          <ion-toggle
            [checked]="checkStatusTheme()"
            (ionChange)="onToggleColorTheme($event)"
          ></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header> Adjust Text </ion-list-header>
    <ion-item>
      <ion-range
        min="20"
        max="40"
        step="5"
        pin="true"
        snaps="true"
        [value]="checkFontSize()"
        color="danger"
        name="range"
        (ionChange)="onChange($event.detail.value)"
      >
        <ion-icon
          slot="start"
          size="small"
          color="danger"
          name="text-outline"
        ></ion-icon>
        <ion-icon slot="end" color="danger" name="text-outline"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-radio-group
      name="radio-group" [value]="defaultSelectedRadio"
      (ionChange)="radioGroupChange($event)"
      #radioGroup
    >
      <ion-list-header>
        <ion-label>Сolor palette</ion-label>
      </ion-list-header>

      <ion-item
        *ngFor="let item of radio_list"
        (ionFocus)="radioFocus()"
        (ionSelect)="radioSelect($event)"
        (ionBlur)="radioBlur()"
      >
        <ion-label>{{item.text}}</ion-label>
        <div>
          <ion-radio
            slot="end"
            name="{{item.name}}"
            value="{{item.value}}"
            color="{{item.color}}"
            disabled="{{item.disabled}}"
          ></ion-radio>
        </div>
      </ion-item>
    </ion-radio-group>
  </ion-list> 
</ion-content>
