<div class="form-froup row">
  <form [formGroup]="form">
    <label class="col-sm-2 col-form-label">News title</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        placeholder="Enter news title"
        [ngClass]="
          (form.get('newTitle').touched || form.get('newTitle').dirty) &&
          form.get('newTitle').hasError('required')
            ? 'is-invalid'
            : '' || form.get('newTitle').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('newTitle').hasError('maxlength')
            ? 'is-invalid'
            : '' ||
              ((form.get('newTitle').touched || form.get('newTitle').dirty) &&
                !form.get('newTitle').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="newTitle"
      />
      <div class="invalid-feedback">
        {{
          form.get("newTitle").hasError("required")
            ? " News title is required."
            : ""
        }}
        {{
          form.get("newTitle").hasError("minlength")
            ? " 5 letters required."
            : ""
        }}
        {{
          form.get("newTitle").hasError("maxlength")
            ? " 70 letters required."
            : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label">New description</label>
    <div class="col-sm-10">
      <textarea
        type=""
        class="form-control"
        style="height: 100px"
        placeholder="Enter new description"
        [ngClass]="
          (form.get('newDescription').touched ||
            form.get('newDescription').dirty) &&
          form.get('newDescription').hasError('required')
            ? 'is-invalid'
            : '' || form.get('newDescription').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('newDescription').hasError('maxlength')
            ? 'is-invalid'
            : '' ||
              ((form.get('newDescription').touched ||
                form.get('newDescription').dirty) &&
                !form.get('newDescription').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="newDescription"
      >
      </textarea>
      <div class="invalid-feedback">
        {{
          form.get("newDescription").hasError("required")
            ? " News description is required."
            : ""
        }}
        {{
          form.get("newDescription").hasError("minlength")
            ? " 20 letters required."
            : ""
        }}
        {{
          form.get("newDescription").hasError("maxlength")
            ? " 500 letters required."
            : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label">Data news</label>
    <div class="col-sm-10">
      <input
        type="datetime-local"
        class="form-control"
        [ngClass]="
          (form.get('dataNew').touched || form.get('dataNew').dirty) &&
          form.get('dataNew').hasError('required')
            ? 'is-invalid'
            : '' ||
              ((form.get('dataNew').touched || form.get('dataNew').dirty) &&
                !form.get('dataNew').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="dataNew"
      />
      <div class="invalid-feedback">
        {{
          form.get("dataNew").hasError("required") ? " Data is required." : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label" [hidden]="true">Image news</label>
    <div class="col-sm-10" style="margin-top: 20px;">
      Image news: 
      <input
        type="file"
        (change)="handleFileSelect($event)"
        accept=".png, .jpg, .jpeg"
      />
    </div>
    <div class="col-sm-10">
      <img
        [src]="this.form.value.imageNew"
        alt=""
        style="
          margin-top: 20px;
          width: 480px;
          height: 240px;
        "
      />
    </div>
    <div class="col-sm-10" [hidden]="true">
      <input
        type="text"
        class="form-control"
        placeholder="Enter image news"
        [ngClass]="
          (form.get('imageNew').touched || form.get('imageNew').dirty) &&
          form.get('imageNew').hasError('required')
            ? 'is-invalid'
            : '' ||
              ((form.get('imageNew').touched || form.get('imageNew').dirty) &&
                !form.get('imageNew').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="imageNew"
      />
      <div class="invalid-feedback">
        {{
          form.get("imageNew").hasError("required") ? " Image is required." : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label">Is considered</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        placeholder="Enter is considered"
        [ngClass]="
          (form.get('isConsidered').touched ||
            form.get('isConsidered').dirty) &&
          form.get('isConsidered').hasError('required')
            ? 'is-invalid'
            : '' || form.get('isConsidered').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('isConsidered').hasError('maxlength')
            ? 'is-invalid'
            : '' || form.get('isConsidered').hasError('pattern')
            ? 'is-invalid'
            : '' ||
              ((form.get('isConsidered').touched ||
                form.get('isConsidered').dirty) &&
                !form.get('isConsidered').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="isConsidered"
      />
      <div class="invalid-feedback">
        {{
          form.get("isConsidered").hasError("required")
            ? " Is considered is required."
            : ""
        }}
        {{
          form.get("isConsidered").hasError("minlength")
            ? " 4 letters required."
            : ""
        }}
        {{
          form.get("isConsidered").hasError("maxlength")
            ? " 5 letters required."
            : ""
        }}
        {{
          form.get("isConsidered").hasError("pattern") ? " One letters." : ""
        }}
      </div>
    </div>
    <label class="col-sm-2 col-form-label">User Id</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        placeholder="Enter users Id"
        [ngClass]="
          (form.get('usersId').touched || form.get('usersId').dirty) &&
          form.get('usersId').hasError('required')
            ? 'is-invalid'
            : '' || form.get('usersId').hasError('minlength')
            ? 'is-invalid'
            : '' || form.get('usersId').hasError('maxlength')
            ? 'is-invalid'
            : '' || form.get('usersId').hasError('pattern')
            ? 'is-invalid'
            : '' ||
              ((form.get('usersId').touched || form.get('usersId').dirty) &&
                !form.get('usersId').invalid)
            ? 'is-valid'
            : ''
        "
        formControlName="usersId"
      />
      <div class="invalid-feedback">
        {{
          form.get("usersId").hasError("required") ? " Guid is required." : ""
        }}
        {{
          form.get("usersId").hasError("minlength")
            ? " 36 letters required."
            : ""
        }}
        {{
          form.get("usersId").hasError("maxlength")
            ? " 36 letters required."
            : ""
        }}
        {{ form.get("usersId").hasError("pattern") ? " Guid type." : "" }}
      </div>
    </div>
    <div class="col-sm-10">
      <button
        style="margin-top: 20px"
        [disabled]="form.invalid"
        (click)="addNews()"
        *ngIf="news.guidNewsId == 0"
        class="btn btn-primary"
      >
        Add
      </button>

      <button
        style="margin-top: 20px"
        [disabled]="form.invalid"
        (click)="updateNews()"
        *ngIf="news.guidNewsId != 0"
        class="btn btn-primary"
      >
        Update
      </button>
    </div>
  </form>
</div>
