<ion-header>
  <ion-toolbar>
    <ion-title>{{textForm.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="automaticClose = !automaticClose">
        <ion-icon
          slot="icon-only"
          name="close"
          *ngIf="automaticClose"
        ></ion-icon>
        <ion-icon
          slot="icon-only"
          name="resize"
          *ngIf="!automaticClose"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-list *ngFor="let e of services">
    <ion-item-divider>
      <ion-label>{{e.Name}}</ion-label>
    </ion-item-divider>
    <div *ngIf="e.ListServices != null">
      <ion-item *ngFor="let g of e.ListServices">
        <ion-label>{{g.Description}}</ion-label>
        <ion-button (click)="onCreateRequst(g)" expand="block" fill="clear" shape="round">
          Click me
        </ion-button>
      </ion-item>
    </div>
  </ion-list> -->

  <ion-list
    *ngFor="let item of servicesInformation; let i = index"
    class="accordion-list"
    lines="none"
    detail="false"
    no-padding
  >
    <ion-item tappable (click)="toggleSection(i)">
      <ion-icon
        slot="end"
        name="chevron-forward-outline"
        *ngIf="!item.open"
      ></ion-icon>
      <ion-icon
        slot="end"
        name="chevron-down-outline"
        *ngIf="item.open"
      ></ion-icon>
      <ion-label lines="full"> {{item.Name}} </ion-label>
    </ion-item>

    <div *ngIf="item.ListServices && item.open">
      <ion-item *ngFor="let g of item.ListServices">
        <ion-label>{{g.Description}}</ion-label>
        <ion-button (click)="onCreateRequst(g)" expand="block">
          {{textForm.btn_apply}}
        </ion-button>
      </ion-item>
      <!-- <ion-list
        *ngFor="let child of item.ListServices; let j = index;"
        linex="none"
        class="child-list"
      >
        <ion-item
          tappable
          (click)="toggleItem(i, j)"
          *ngIf="child.Description"
          [ngClass]="{'child-active': child.open, 'child': !child.open}"
        >
        <ion-icon slot="start" name="add" *ngIf="!child.open"></ion-icon>
        <ion-icon slot="start" name="close" *ngIf="child.open"></ion-icon>
        <ion-label> {{child.Description}} </ion-label>
        </ion-item>
      </ion-list> -->
    </div>
    <ion-item *ngIf="item.ListServices.length === 0 && item.open">
      <ion-label class="ion-text-center"
        >{{textForm.infoNotServices}}</ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
