<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'EVENTSFORM.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let event of events">
    <ion-img
      [src]="event.imageEvents"
      style="box-sizing: border-box; width: 100%; padding: 1px"
    ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{event.plannedStartDate | date}}</ion-card-subtitle>
      <ion-card-title>{{event.eventTitle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{event.descriptionOfTheEvent}} </ion-card-content>
  </ion-card>
</ion-content>
